{layout "../../layout/base.latte"}

{block title}Sign In{/block}
{include '../../layout/components/validation.latte', name: 'email'}
{block body}
{csrf()|noescape}
<p> Hello, world! {$var}</p>
{/block}
